openapi: 3.1.0
info:
  title: Humaans Audit Events Documents API
  version: '1.0'
  description: 'The Humaans HRIS API exposes the People, Compensations, Time Away, Documents,

    Locations, Job Roles, Custom Fields, Performance, Timesheet, Webhooks, and

    related resources of the Humaans system of record. The API is REST-based,

    accepts and returns JSON, and uses Bearer token authentication scoped via

    OAuth scopes (public:read, private:read, private:write, compensations:read,

    compensations:write, documents:read, documents:write, webhooks:manage).

    '
  contact:
    name: Humaans
    url: https://docs.humaans.io/api/
  termsOfService: https://humaans.io/terms
servers:
- url: https://app.humaans.io/api
  description: Humaans API production endpoint
security:
- bearerAuth: []
tags:
- name: Documents
  description: Personal and company document storage
paths:
  /documents:
    get:
      tags:
      - Documents
      summary: List Documents
      operationId: listDocuments
      responses:
        '200':
          description: Document list
    post:
      tags:
      - Documents
      summary: Create Document
      operationId: createDocument
      responses:
        '201':
          description: Created document
  /documents/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Documents
      summary: Retrieve Document
      operationId: getDocument
      responses:
        '200':
          description: Document
    patch:
      tags:
      - Documents
      summary: Update Document
      operationId: updateDocument
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Documents
      summary: Delete Document
      operationId: deleteDocument
      responses:
        '204':
          description: Deleted
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer access token issued by Humaans with OAuth-style scopes
