openapi: 3.1.0
info:
  title: Humaans Audit Events Performance API
  version: '1.0'
  description: 'The Humaans HRIS API exposes the People, Compensations, Time Away, Documents,

    Locations, Job Roles, Custom Fields, Performance, Timesheet, Webhooks, and

    related resources of the Humaans system of record. The API is REST-based,

    accepts and returns JSON, and uses Bearer token authentication scoped via

    OAuth scopes (public:read, private:read, private:write, compensations:read,

    compensations:write, documents:read, documents:write, webhooks:manage).

    '
  contact:
    name: Humaans
    url: https://docs.humaans.io/api/
  termsOfService: https://humaans.io/terms
servers:
- url: https://app.humaans.io/api
  description: Humaans API production endpoint
security:
- bearerAuth: []
tags:
- name: Performance
  description: Performance reviews, cycles, templates, and ratings
paths:
  /performance-reviews:
    get:
      tags:
      - Performance
      summary: List Performance Reviews
      operationId: listPerformanceReviews
      responses:
        '200':
          description: List
  /performance-cycles:
    get:
      tags:
      - Performance
      summary: List Performance Cycles
      operationId: listPerformanceCycles
      responses:
        '200':
          description: List
  /performance-templates:
    get:
      tags:
      - Performance
      summary: List Performance Templates
      operationId: listPerformanceTemplates
      responses:
        '200':
          description: List
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer access token issued by Humaans with OAuth-style scopes
