openapi: 3.1.0
info:
  title: Humaans Audit Events Job Roles API
  version: '1.0'
  description: 'The Humaans HRIS API exposes the People, Compensations, Time Away, Documents,

    Locations, Job Roles, Custom Fields, Performance, Timesheet, Webhooks, and

    related resources of the Humaans system of record. The API is REST-based,

    accepts and returns JSON, and uses Bearer token authentication scoped via

    OAuth scopes (public:read, private:read, private:write, compensations:read,

    compensations:write, documents:read, documents:write, webhooks:manage).

    '
  contact:
    name: Humaans
    url: https://docs.humaans.io/api/
  termsOfService: https://humaans.io/terms
servers:
- url: https://app.humaans.io/api
  description: Humaans API production endpoint
security:
- bearerAuth: []
tags:
- name: Job Roles
  description: Position and role definitions
paths:
  /job-roles:
    get:
      tags:
      - Job Roles
      summary: List Job Roles
      operationId: listJobRoles
      responses:
        '200':
          description: List
    post:
      tags:
      - Job Roles
      summary: Create Job Role
      operationId: createJobRole
      responses:
        '201':
          description: Created
  /job-roles/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Job Roles
      summary: Retrieve Job Role
      operationId: getJobRole
      responses:
        '200':
          description: Job role
    patch:
      tags:
      - Job Roles
      summary: Update Job Role
      operationId: updateJobRole
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Job Roles
      summary: Delete Job Role
      operationId: deleteJobRole
      responses:
        '204':
          description: Deleted
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer access token issued by Humaans with OAuth-style scopes
