openapi: 3.1.0
info:
  title: Humaans Audit Events Compensations API
  version: '1.0'
  description: 'The Humaans HRIS API exposes the People, Compensations, Time Away, Documents,

    Locations, Job Roles, Custom Fields, Performance, Timesheet, Webhooks, and

    related resources of the Humaans system of record. The API is REST-based,

    accepts and returns JSON, and uses Bearer token authentication scoped via

    OAuth scopes (public:read, private:read, private:write, compensations:read,

    compensations:write, documents:read, documents:write, webhooks:manage).

    '
  contact:
    name: Humaans
    url: https://docs.humaans.io/api/
  termsOfService: https://humaans.io/terms
servers:
- url: https://app.humaans.io/api
  description: Humaans API production endpoint
security:
- bearerAuth: []
tags:
- name: Compensations
  description: Salary, bonus, and compensation history
paths:
  /compensations:
    get:
      tags:
      - Compensations
      summary: List Compensations
      operationId: listCompensations
      responses:
        '200':
          description: Compensation list
    post:
      tags:
      - Compensations
      summary: Create Compensation
      operationId: createCompensation
      responses:
        '201':
          description: Created compensation
  /compensations/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Compensations
      summary: Retrieve Compensation
      operationId: getCompensation
      responses:
        '200':
          description: Compensation record
    patch:
      tags:
      - Compensations
      summary: Update Compensation
      operationId: updateCompensation
      responses:
        '200':
          description: Updated compensation
    delete:
      tags:
      - Compensations
      summary: Delete Compensation
      operationId: deleteCompensation
      responses:
        '204':
          description: Deleted
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer access token issued by Humaans with OAuth-style scopes
