openapi: 3.1.0
info:
  title: Humaans Audit Events Webhooks API
  version: '1.0'
  description: 'The Humaans HRIS API exposes the People, Compensations, Time Away, Documents,

    Locations, Job Roles, Custom Fields, Performance, Timesheet, Webhooks, and

    related resources of the Humaans system of record. The API is REST-based,

    accepts and returns JSON, and uses Bearer token authentication scoped via

    OAuth scopes (public:read, private:read, private:write, compensations:read,

    compensations:write, documents:read, documents:write, webhooks:manage).

    '
  contact:
    name: Humaans
    url: https://docs.humaans.io/api/
  termsOfService: https://humaans.io/terms
servers:
- url: https://app.humaans.io/api
  description: Humaans API production endpoint
security:
- bearerAuth: []
tags:
- name: Webhooks
  description: Outbound HMAC-signed event subscriptions
paths:
  /webhooks:
    get:
      tags:
      - Webhooks
      summary: List Webhooks
      operationId: listWebhooks
      responses:
        '200':
          description: List
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      operationId: createWebhook
      responses:
        '201':
          description: Created
  /webhooks/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Webhooks
      summary: Retrieve Webhook
      operationId: getWebhook
      responses:
        '200':
          description: Webhook
    patch:
      tags:
      - Webhooks
      summary: Update Webhook
      operationId: updateWebhook
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook
      operationId: deleteWebhook
      responses:
        '204':
          description: Deleted
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer access token issued by Humaans with OAuth-style scopes
