openapi: 3.1.0
info:
  title: Humaans Audit Events Locations API
  version: '1.0'
  description: 'The Humaans HRIS API exposes the People, Compensations, Time Away, Documents,

    Locations, Job Roles, Custom Fields, Performance, Timesheet, Webhooks, and

    related resources of the Humaans system of record. The API is REST-based,

    accepts and returns JSON, and uses Bearer token authentication scoped via

    OAuth scopes (public:read, private:read, private:write, compensations:read,

    compensations:write, documents:read, documents:write, webhooks:manage).

    '
  contact:
    name: Humaans
    url: https://docs.humaans.io/api/
  termsOfService: https://humaans.io/terms
servers:
- url: https://app.humaans.io/api
  description: Humaans API production endpoint
security:
- bearerAuth: []
tags:
- name: Locations
  description: Office and remote work locations
paths:
  /locations:
    get:
      tags:
      - Locations
      summary: List Locations
      operationId: listLocations
      responses:
        '200':
          description: Location list
    post:
      tags:
      - Locations
      summary: Create Location
      operationId: createLocation
      responses:
        '201':
          description: Created
  /locations/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Locations
      summary: Retrieve Location
      operationId: getLocation
      responses:
        '200':
          description: Location
    patch:
      tags:
      - Locations
      summary: Update Location
      operationId: updateLocation
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Locations
      summary: Delete Location
      operationId: deleteLocation
      responses:
        '204':
          description: Deleted
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Bearer access token issued by Humaans with OAuth-style scopes
